<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./admin-dashboard.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto Mono:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Koulen:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@600;700&display=swap"
    />
  </head>
  <body>
    <div class="admin-dashboard">
      <header class="navigation-bar">
        <div class="shape"></div>
        <div class="ebtechid-wrapper">
          <a class="ebtechid">ebtechID.</a>
        </div>
        <nav class="frame-parent">
          <div class="home-blog-button-wrapper">
            <div class="home-blog-button">
              <a class="home">Home</a>
              <a class="blog">Blog</a>
            </div>
          </div>
          <div class="portfolio-button">
            <a class="portfolio">Portfolio</a>
          </div>
          <a class="admindashboard">AdminDashboard</a>
        </nav>
        <img class="logo-icon" alt="" src="./public/logo@2x.png" />
      </header>
      <main class="content">
        <div class="rectangle-parent">
          <div class="frame-child"></div>
          <div class="menu-header">
            <div class="menu-dashboard-wrapper">
              <a class="menu-dashboard">Menu Dashboard</a>
            </div>
            <div class="menu-divider"></div>
          </div>
          <div class="menu-options">
            <div class="more-component-labels-parent">
              <div class="more-component-labels">
                <h3 class="more">More</h3>
              </div>
              <h2 class="components">Components</h2>
            </div>
          </div>
        </div>
        <section class="content-inner">
          <div class="frame-group">
            <div class="frame-container">
              <div class="social-wrapper">
                <a class="social">SOCIAL</a>
              </div>
              <div class="about">
                <div class="rectangle-group">
                  <div class="frame-item"></div>
                  <div class="frame-wrapper">
                    <div class="rectangle-container">
                      <div class="frame-inner"></div>
                      <img
                        class="eye-1-icon"
                        loading="lazy"
                        alt=""
                        src="./public/eye-1.svg"
                      />
                    </div>
                  </div>
                  <div class="profile-views-parent">
                    <h3 class="profile-views">profile views</h3>
                    <div class="empty-followers">
                      <div class="div">921.032</div>
                    </div>
                  </div>
                </div>
                <div class="group-div">
                  <div class="rectangle-div"></div>
                  <div class="frame-div">
                    <div class="rectangle-container">
                      <div class="frame-inner"></div>
                      <img
                        class="profile-icon"
                        loading="lazy"
                        alt=""
                        src="./public/profile.svg"
                      />
                    </div>
                  </div>
                  <div class="profile-views-parent">
                    <h3 class="followers">Followers</h3>
                    <div class="wrapper">
                      <div class="div1">300.000</div>
                    </div>
                  </div>
                </div>
                <div class="profile-views1">
                  <div class="rectangle-parent2">
                    <div class="rectangle-div"></div>
                    <div class="frame-div">
                      <div class="rectangle-container">
                        <div class="frame-inner"></div>
                        <img
                          class="profile-add-icon"
                          loading="lazy"
                          alt=""
                          src="./public/profileadd.svg"
                        />
                      </div>
                    </div>
                    <div class="profile-views-parent">
                      <h3 class="following">following</h3>
                      <div class="wrapper">
                        <div class="div2">1.000.000</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="profile-views2">
                  <div class="rectangle-parent2">
                    <div class="rectangle-div"></div>
                    <div class="frame-div">
                      <div class="rectangle-container">
                        <div class="frame-inner"></div>
                        <img
                          class="profile-add-icon"
                          loading="lazy"
                          alt=""
                          src="./public/profileadd.svg"
                        />
                      </div>
                    </div>
                    <div class="profile-views-parent">
                      <h3 class="following">following</h3>
                      <div class="wrapper">
                        <div class="div2">1.000.000</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="frame-wrapper3">
              <div class="chart-order-parent">
                <h2 class="chart-order">CHART ORDER</h2>
                <div class="chart-review">
                  <div class="review-wrapper">
                    <h2 class="review">REVIEW</h2>
                  </div>
                  <div class="chart">
                    <div class="chart-child"></div>
                    <div class="week-chart">
                      <div class="weekdays">
                        <div class="sunday">Sunday</div>
                        <div class="monday">Monday</div>
                        <div class="tuesday">Tuesday</div>
                        <div class="wednesday">Wednesday</div>
                        <div class="thursday">Thursday</div>
                        <div class="friday">Friday</div>
                        <div class="saturday">Saturday</div>
                      </div>
                    </div>
                    <div class="chart-details">
                      <div class="background-oct">
                        <div class="background-order">
                          <div class="order-chart-parent">
                            <img
                              class="order-chart-icon"
                              alt=""
                              src="./public/order-chart.svg"
                            />

                            <div class="dot"></div>
                          </div>
                        </div>
                        <div class="background-parent">
                          <img
                            class="background-icon"
                            loading="lazy"
                            alt=""
                            src="./public/background.svg"
                          />

                          <div class="order-label">
                            <div class="empty-order-label-parent">
                              <b class="empty-order-label">456</b>
                              <div class="order">Order</div>
                            </div>
                          </div>
                          <div class="oct-18th-2020">Oct 18th, 2020</div>
                        </div>
                      </div>
                      <div class="days">
                        <div class="weekdays">
                          <div class="sunday">Sunday</div>
                          <div class="monday">Monday</div>
                          <div class="tuesday">Tuesday</div>
                          <div class="wednesday">Wednesday</div>
                          <div class="thursday">Thursday</div>
                          <div class="friday">Friday</div>
                          <div class="saturday">Saturday</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="buyer-review">
              <div class="review-list">
                <div class="buyer-1">
                  <div class="buyer-1-child"></div>
                  <div class="buyer-info">
                    <div class="buyer-image"></div>
                    <div class="portfolio-button">
                      <div class="buyer-name-date">
                        <div class="singto">Singto</div>
                        <div class="days-ago">2 days ago</div>
                      </div>
                    </div>
                  </div>
                  <div class="review-content">
                    <div class="lorem-ipsum-is">
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text
                    </div>
                  </div>
                  <div class="review-rating">
                    <div class="rating-stars-parent">
                      <div class="rating-stars">
                        <div class="stars">
                          <img
                            class="contatenos-icon"
                            loading="lazy"
                            alt=""
                            src="./public/star-1.svg"
                          />

                          <img
                            class="contatenos-icon"
                            loading="lazy"
                            alt=""
                            src="./public/star-1.svg"
                          />

                          <img
                            class="link-icon"
                            loading="lazy"
                            alt=""
                            src="./public/star-3.svg"
                          />

                          <img
                            class="contatenos-icon"
                            loading="lazy"
                            alt=""
                            src="./public/star-4.svg"
                          />

                          <img
                            class="contatenos-icon"
                            loading="lazy"
                            alt=""
                            src="./public/star-4.svg"
                          />
                        </div>
                      </div>
                      <div class="cadastrarse">30</div>
                    </div>
                  </div>
                </div>
                <div class="buyer-1">
                  <div class="buyer-1-child"></div>
                  <div class="buyer-info">
                    <div class="buyer-image"></div>
                    <div class="portfolio-button">
                      <div class="buyer-name-date">
                        <div class="singto">Singto</div>
                        <div class="days-ago">2 days ago</div>
                      </div>
                    </div>
                  </div>
                  <div class="review-content">
                    <div class="lorem-ipsum-is">
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text
                    </div>
                  </div>
                  <div class="review-rating">
                    <div class="frame-parent1">
                      <div class="star-wrapper">
                        <img
                          class="star-icon"
                          loading="lazy"
                          alt=""
                          src="./public/star-1.svg"
                        />
                      </div>
                      <div class="empty-stars-wrapper">
                        <div class="empty-stars">
                          <img
                            class="contatenos-icon"
                            loading="lazy"
                            alt=""
                            src="./public/star-1.svg"
                          />

                          <img
                            class="link-icon"
                            loading="lazy"
                            alt=""
                            src="./public/star-3.svg"
                          />

                          <img
                            class="contatenos-icon"
                            loading="lazy"
                            alt=""
                            src="./public/star-4.svg"
                          />

                          <img
                            class="contatenos-icon"
                            alt=""
                            src="./public/star-4.svg"
                          />
                        </div>
                      </div>
                      <div class="cadastrarse">30</div>
                    </div>
                  </div>
                </div>
                <div class="buyer-1">
                  <div class="buyer-1-child"></div>
                  <div class="buyer-info">
                    <div class="buyer-image"></div>
                    <div class="portfolio-button">
                      <div class="buyer-name-date">
                        <div class="singto">Singto</div>
                        <div class="days-ago">2 days ago</div>
                      </div>
                    </div>
                  </div>
                  <div class="review-content">
                    <div class="lorem-ipsum-is">
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text
                    </div>
                  </div>
                  <div class="review-rating">
                    <div class="rating-stars-parent">
                      <div class="rating-stars">
                        <div class="stars">
                          <img
                            class="contatenos-icon"
                            alt=""
                            src="./public/star-1.svg"
                          />

                          <img
                            class="contatenos-icon"
                            alt=""
                            src="./public/star-1.svg"
                          />

                          <img
                            class="link-icon"
                            loading="lazy"
                            alt=""
                            src="./public/star-3.svg"
                          />

                          <img
                            class="contatenos-icon"
                            alt=""
                            src="./public/star-4.svg"
                          />

                          <img
                            class="contatenos-icon"
                            alt=""
                            src="./public/star-4.svg"
                          />
                        </div>
                      </div>
                      <div class="cadastrarse">
                        <p class="p">30</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
