body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-3xs: 10px;
  --font-size-7xs: 6px;
  --font-size-sm: 14px;
  --font-size-xs: 12px;
  --font-size-xl: 20px;
  --font-size-base: 16px;

  /* Colors */
  --color-gray-100: #171616;
  --color-darkslategray: #423d3d;
  --color-white: #fff;
  --color-dimgray-100: #7a6565;
  --color-lightgray: #dad1d1;
  --color-black: #000;
  --color-indianred: #b04949;

  /* Gaps */
  --gap-5xs: 8px;
  --gap-mini: 15px;
  --gap-base: 16px;
  --gap-9xs: 4px;
  --gap-xl: 20px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-lg: 18px;
  --padding-sm: 14px;
  --padding-3xs: 10px;
  --padding-mid: 17px;
  --padding-12xs: 1px;
  --padding-5xs: 8px;
  --padding-10xs: 3px;
  --padding-base: 16px;
  --padding-7xs: 6px;
  --padding-9xs-3: 3.3px;
  --padding-6xs: 7px;
  --padding-11xs: 2px;
  --padding-8xs: 5px;
  --padding-9xs: 4px;
  --padding-4xs: 9px;
  --padding-mini: 15px;
  --padding-xs: 12px;
  --padding-2xs: 11px;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-8xs: 5px;
}
