.webapp-child {
  height: 600px;
  width: 1280px;
  position: relative;
  background-color: var(--color-gray-100);
  display: none;
  max-width: 100%;
}
.frame-child {
  height: 44.4px;
  width: 49.6px;
  position: absolute;
  margin: 0 !important;
  top: -14px;
  left: -40px;
}
.sgn {
  text-decoration: none;
  flex: 1;
  position: relative;
  font-weight: 900;
  color: inherit;
  text-shadow: 1px 0 0#5d3636, 0 1px 0#5d3636, -1px 0 0#5d3636, 0-1px 0#5d3636;
  z-index: 1;
}
.frame-parent,
.layer-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frame-parent {
  width: 65px;
  justify-content: flex-start;
  position: relative;
}
.layer-inner {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 43px;
}
.mingcutedown-fill-icon {
  width: 12px;
  height: 12px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.layers-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.layers {
  text-decoration: none;
  position: relative;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 36px;
}
.layers-title-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-9xs);
}
.frame-item {
  height: 1px;
  flex: 1;
  position: relative;
  border-top: 1px solid rgba(255, 255, 255, 0.9);
  box-sizing: border-box;
}
.line-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs) var(--padding-4xs) 0;
}
.content1 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 10px;
  z-index: 1;
}
.content-wrapper,
.frame-wrapper {
  border-radius: var(--br-8xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.content-wrapper {
  width: 35px;
  background-color: var(--color-indianred);
  flex-shrink: 0;
  padding: var(--padding-9xs) var(--padding-xs) var(--padding-10xs);
  box-sizing: border-box;
}
.frame-wrapper {
  align-self: stretch;
  background-color: var(--color-white);
  padding: var(--padding-9xs) var(--padding-8xs) var(--padding-8xs);
}
.div {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 13px;
}
.container,
.wrapper {
  border-radius: var(--br-8xs);
  background-color: var(--color-indianred);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-2xs) var(--padding-11xs);
}
.container {
  padding: var(--padding-9xs) var(--padding-2xs) var(--padding-10xs);
}
.div2 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 14px;
}
.frame,
.frame-wrapper2 {
  border-radius: var(--br-8xs);
  overflow: hidden;
  flex-direction: row;
}
.frame {
  background-color: var(--color-indianred);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-3xs) var(--padding-9xs)
    var(--padding-2xs);
}
.frame-wrapper2 {
  align-self: stretch;
  background-color: var(--color-white);
  padding: var(--padding-8xs) var(--padding-8xs) var(--padding-9xs);
}
.content,
.frame-container,
.frame-wrapper2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-container {
  flex: 1;
  flex-direction: column;
  gap: 7px;
}
.content {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-6xs) 39px var(--padding-11xs);
  font-size: var(--font-size-xl);
}
.frame-inner {
  width: 35px;
  height: 32px;
  position: relative;
  border-radius: var(--br-8xs);
  overflow: hidden;
  flex-shrink: 0;
}
.frame-wrapper3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) 0 0;
}
.frame-child1 {
  height: 32px;
  width: 35px;
  position: relative;
  border-radius: var(--br-8xs);
  overflow: hidden;
  flex-shrink: 0;
  min-height: 32px;
}
.frame-parent2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
}
.import {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 32px;
  z-index: 1;
}
.icround-plus-icon {
  height: 12px;
  width: 12px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 12px;
  z-index: 1;
}
.frame-wrapper5,
.import-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.import-parent {
  flex: 1;
  border-radius: var(--br-8xs);
  background-color: var(--color-dimgray-100);
  overflow: hidden;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-5xs) var(--padding-3xs)
    var(--padding-6xs);
  gap: var(--gap-xl);
}
.frame-wrapper5 {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
}
.export,
.icround-plus-icon1 {
  height: 12px;
  position: relative;
  z-index: 1;
}
.export {
  width: 32px;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--font-inter);
  font-size: var(--font-size-3xs);
  background-color: transparent;
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.icround-plus-icon1 {
  width: 12px;
  overflow: hidden;
  flex-shrink: 0;
}
.export-parent {
  align-self: stretch;
  border-radius: var(--br-8xs);
  background-color: var(--color-dimgray-100);
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-5xs) var(--padding-5xs) var(--padding-3xs)
    var(--padding-6xs);
  gap: var(--gap-xl);
}
.export-parent,
.frame-parent3,
.import-export {
  display: flex;
  align-items: flex-start;
}
.frame-parent3 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
}
.import-export {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-12xs) 0 0;
}
.frame-group,
.frame-parent1,
.layer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-parent1 {
  align-self: stretch;
  align-items: flex-end;
  padding: 0 var(--padding-7xs) 0 0;
  gap: var(--gap-mini);
}
.frame-group,
.layer {
  overflow: hidden;
  align-items: flex-start;
}
.frame-group {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: #4a3e3e;
  padding: var(--padding-6xs) var(--padding-7xs) 30px;
  gap: var(--gap-9xs);
  font-size: var(--font-size-3xs);
  color: var(--color-white);
}
.layer {
  width: 215px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #423d3d;
  flex-shrink: 0;
  padding: 42px var(--padding-xs) 83px var(--padding-mini);
  box-sizing: border-box;
  gap: 38px;
  z-index: 1;
}
.property-header-child,
.tollbaar-icon {
  align-self: stretch;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.tollbaar-icon {
  height: 41px;
  max-width: 100%;
  flex-shrink: 0;
}
.property-header-child {
  flex: 1;
  background-color: var(--color-white);
}
.property-header {
  height: 499px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 56px 0 0;
  box-sizing: border-box;
  max-width: calc(100% - 259px);
}
.material-symbols-lightsquare-icon {
  position: absolute;
  top: 0;
  left: 62px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.design {
  text-decoration: none;
  position: absolute;
  top: 4px;
  left: 13px;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 48px;
}
.item-separator-icon {
  position: absolute;
  top: 24px;
  left: 0;
  width: 199px;
  height: 1px;
  object-fit: contain;
  z-index: 3;
}
.material-icon {
  align-self: stretch;
  height: 25px;
  position: relative;
}
.span {
  font-size: var(--font-size-xs);
}
.shape,
.square {
  position: relative;
  display: inline-block;
  min-width: 50px;
}
.square {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  min-width: 49px;
}
.shape-square {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.mingcutedown-fill-icon1 {
  position: absolute;
  top: 4px;
  left: 23px;
  width: 12px;
  height: 10px;
  overflow: hidden;
}
.vector {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
}
.mingcutedown-fill-parent {
  height: 18px;
  width: 35px;
  position: relative;
}
.property-item-inner,
.shape-square-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.shape-square-parent {
  flex: 1;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkslategray);
  overflow: hidden;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-7xs) var(--padding-7xs);
  gap: var(--gap-base);
}
.property-item-inner {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-3xs) 0 var(--padding-mini);
  color: var(--color-white);
}
.property-item {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 13px;
}
.line-icon,
.size {
  position: relative;
  flex-shrink: 0;
}
.size {
  width: 49px;
  display: inline-block;
}
.line-icon {
  align-self: stretch;
  height: 10.7px;
  max-width: 100%;
  overflow: hidden;
}
.size-parent,
.vector-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-wrapper {
  height: 20.7px;
  width: 105px;
  flex-direction: column;
  padding: var(--padding-3xs) 0 0;
  box-sizing: border-box;
}
.size-parent {
  align-self: stretch;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkslategray);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-7xs) var(--padding-9xs-3);
}
.opocity {
  width: 60px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.vector-icon,
.vector1 {
  position: relative;
  min-height: 18px;
}
.vector-icon {
  align-self: stretch;
  width: 91px;
  border-radius: var(--br-3xs);
  max-height: 100%;
  display: none;
}
.vector1 {
  margin: 0;
  height: 18px;
  width: 19px;
  border: 0 solid var(--color-lightgray);
  box-sizing: border-box;
  z-index: 1;
}
.db1e1e {
  align-self: stretch;
  position: relative;
  z-index: 2;
}
.d-b-e-e-container,
.vector-group {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.d-b-e-e-container {
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  margin-left: -8px;
}
.vector-group {
  flex-direction: row;
  flex-shrink: 0;
}
.vector-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 19px;
  height: 18px;
  display: none;
}
.vector-container {
  width: 20px;
  height: 18px;
  position: relative;
  background-color: var(--color-white);
  z-index: 1;
}
.empty-item {
  align-self: stretch;
  position: relative;
  display: inline-block;
  min-width: 20px;
  z-index: 2;
  margin-top: -12px;
}
.frame-parent4 {
  align-self: stretch;
  width: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  font-size: var(--font-size-7xs);
}
.opocity-parent,
.vector-parent {
  flex-direction: row;
  justify-content: flex-start;
}
.vector-parent {
  align-self: stretch;
  width: 91px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  display: flex;
  align-items: flex-start;
  gap: 10px;
  text-align: center;
  font-size: var(--font-size-3xs);
  color: var(--color-dimgray-100);
}
.opocity-parent {
  border-radius: var(--br-8xs);
  background-color: var(--color-darkslategray);
  overflow: hidden;
  padding: var(--padding-7xs) var(--padding-7xs) var(--padding-8xs);
  font-size: var(--font-size-xs);
}
.opocity-parent,
.property-options,
.property-options-wrapper {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: flex-start;
}
.property-options {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.property-options-wrapper {
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-4xs) 0 var(--padding-mid);
  color: var(--color-white);
}
.property-item-parent {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-lg);
  gap: 22px;
}
.property-content {
  align-self: stretch;
  height: 181px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-10xs) 0 var(--padding-9xs);
  box-sizing: border-box;
}
.property1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  min-width: 60px;
}
.property-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-sm);
  font-size: var(--font-size-sm);
}
.color-options-child {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-lightgray);
  box-sizing: border-box;
}
.colour {
  position: relative;
  white-space: pre-wrap;
  display: inline-block;
  min-width: 57px;
}
.vector-icon2 {
  align-self: stretch;
  width: 91px;
  position: relative;
  border-radius: var(--br-3xs);
  max-height: 100%;
  display: none;
  min-height: 18px;
  z-index: 1;
}
.vector-icon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.circumpicker-half-icon {
  position: absolute;
  top: 3px;
  left: 2px;
  width: 15px;
  height: 12px;
  overflow: hidden;
  z-index: 2;
}
.circular-picker {
  width: 19px;
  height: 18px;
  position: relative;
  background-color: #db1e1e;
  flex-shrink: 0;
  z-index: 1;
}
.circular-picker-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs) 0 0;
}
.db1e1e1 {
  align-self: stretch;
  position: relative;
  flex-shrink: 0;
  z-index: 1;
}
.db1e1e-wrapper {
  width: 51px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
  flex-shrink: 0;
  margin-left: -8px;
}
.vector-icon4 {
  position: absolute;
  top: 0;
  left: 8px;
  width: 19px;
  height: 18px;
  z-index: 1;
}
.empty-item1 {
  position: absolute;
  top: 5px;
  left: 0;
  display: inline-block;
  width: 37px;
  z-index: 2;
}
.vector-parent2 {
  height: 18px;
  width: 37px;
  position: relative;
  flex-shrink: 0;
  margin-left: -8px;
  font-size: var(--font-size-7xs);
}
.vector-parent1 {
  width: 91px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  text-align: center;
  color: var(--color-dimgray-100);
}
.colour-properties,
.colour-properties-wrapper,
.vector-parent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.colour-properties {
  flex: 1;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkslategray);
  overflow: hidden;
  padding: var(--padding-7xs) var(--padding-7xs) var(--padding-8xs);
  gap: 3px;
}
.colour-properties-wrapper {
  align-self: stretch;
  padding: 0 var(--padding-base);
}
.brightness {
  width: 63px;
  position: relative;
  white-space: pre-wrap;
  display: inline-block;
  flex-shrink: 0;
  min-width: 63px;
}
.brightness-parent,
.color-options-inner,
.vector-frame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-frame {
  height: 17.7px;
  width: 80px;
  flex-direction: column;
  padding: var(--padding-6xs) 0 0;
  box-sizing: border-box;
}
.brightness-parent,
.color-options-inner {
  flex-direction: row;
}
.brightness-parent {
  flex: 1;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkslategray);
  overflow: hidden;
  padding: var(--padding-5xs) var(--padding-11xs) var(--padding-9xs-3);
  gap: var(--gap-mini);
}
.color-options-inner {
  align-self: stretch;
  padding: 0 var(--padding-base);
  text-align: center;
}
.saturation {
  position: relative;
  white-space: pre-wrap;
  display: inline-block;
  min-width: 66px;
}
.saturation-parent {
  flex: 1;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkslategray);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-7xs) var(--padding-9xs-3);
  gap: var(--gap-5xs);
}
.grayscale,
.opacity {
  width: 66px;
  position: relative;
  white-space: pre-wrap;
  display: inline-block;
}
.grayscale {
  flex-shrink: 0;
}
.opacity {
  border: 0;
  outline: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-3xs);
  background-color: transparent;
  height: 12px;
  color: var(--color-white);
  text-align: left;
  padding: 0;
}
.color-options {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-3xs);
  gap: 11.6px;
  color: var(--color-white);
}
.frame-child7 {
  height: 10.7px;
  width: 80px;
  position: relative;
}
.intensity-slider-inner {
  height: 10.7px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-3xs) 0 0;
  box-sizing: border-box;
}
.duplicate {
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 47px;
}
.duplicate-wrapper,
.intensity-slider {
  display: flex;
  justify-content: flex-start;
}
.duplicate-wrapper {
  width: 64px;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkslategray);
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-10xs) var(--padding-5xs);
  box-sizing: border-box;
}
.intensity-slider {
  flex-direction: column;
  align-items: flex-end;
  gap: 2.3px;
}
.intensity-slider-wrapper {
  flex-direction: column;
  padding: var(--padding-5xs) 0 0;
  text-align: center;
  color: var(--color-white);
}
.frame-parent5,
.intensity-label-wrapper,
.intensity-slider-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.intensity-label-wrapper {
  flex-direction: row;
  padding: 0 var(--padding-xl) 0 22px;
  color: var(--color-darkslategray);
}
.frame-parent5 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-3xs) 0 var(--padding-mid) var(--padding-12xs);
  gap: 11px;
  font-size: var(--font-size-3xs);
}
.property,
.property-header-parent {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.property {
  width: 234px;
  background-color: var(--color-darkslategray);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-lg) var(--padding-sm) 23px 13px;
  gap: 18px;
  z-index: 1;
}
.property-header-parent {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 0 24px;
  gap: 25px;
  max-width: 100%;
}
.tollbaar-parent,
.webapp {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  font-family: var(--font-inter);
}
.tollbaar-parent {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  max-width: calc(100% - 215px);
  font-size: var(--font-size-sm);
  color: var(--color-black);
}
.webapp {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-100);
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  line-height: normal;
  letter-spacing: normal;
  font-size: var(--font-size-xl);
  color: #efe960;
}
@media screen and (max-width: 750px) {
  .layer {
    display: none;
  }
  .tollbaar-parent {
    max-width: 100%;
  }
  .webapp {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 675px) {
  .layer {
    padding-top: 27px;
    padding-bottom: 54px;
    box-sizing: border-box;
  }
  .property-header {
    padding-top: 36px;
    box-sizing: border-box;
    max-width: 100%;
  }
  .property {
    display: none;
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .content1,
  .div,
  .div2,
  .sgn {
    font-size: var(--font-size-base);
  }
}
